@model FreezerMonitor.Web.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
@*<h2>Dashboard</h2>*@

<h3>Last <strong>@Model.DaysInPeriod</strong> Days:</h3>

<div class="container">
    <div class="row">
        <div class="col-xs-6 kpi">
            <span class="kpi">@String.Format("{0:F1}°F", Model.MaxReading.Temperature)</span><br />
            @String.Format("Max ({0:F0} hrs ago)", (DateTime.Now - Model.MaxReading.Time.ToLocalTime()).TotalHours)
        </div>
        <div class="col-xs-6 kpi">
            <span class="kpi">@Model.MinutesAboveFreezing min</span><br />
            Above Freezing
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 kpi">
            <span class="kpi">@String.Format("{0:F1}°F", Model.LastReading.Temperature)</span><br />
            @String.Format("Latest ({0:F0} hrs ago)", (DateTime.Now - Model.LastReading.Time.ToLocalTime()).TotalMinutes)
        </div>
        <div class="col-xs-6 kpi">
            <span class="kpi">@String.Format("{0:P1}", Model.PortionOfTimeAboveFreezing)</span><br />
            Above Freezing
        </div>
    </div>
    @if (false)
    {
    <div class="row btn-group" data-toggle="buttons">
        <label class="btn btn-default">
            <input type="radio" name="options" id="option1" autocomplete="off">Day
        </label>
        <label class="btn btn-default active">
            <input type="radio" name="options" id="option2" autocomplete="off" checked>Week
        </label>
        <label class="btn btn-default">
            <input type="radio" name="options" id="option3" autocomplete="off">Month
        </label>
    </div>
    }

    <div class="row btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" onmousedown="changePeriod(1)">Day</button>
        <button type="button" class="btn btn-default" onmousedown="changePeriod(7)">Week</button>
        <button type="button" class="btn btn-default" onmousedown="changePeriod(30)">Month</button>
    </div>
</div>

<script>
    function changePeriod(days) {
        console.log('Days: ' + days);
    }
</script>