@model FreezerMonitor.Web.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@if (false)
{
    <script src="~/Scripts/jquery-3.1.1.intellisense.js"></script>
}

<meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
@*<h2>Dashboard</h2>*@

<h3>Last <strong id="periodLength">@Model.DaysInPeriod</strong> Days:</h3>

<div class="container">
    <div class="row">
        <div class="col-xs-6 kpi">
            <span id="maxTemp" class="kpi">@String.Format("{0:F1}°F", Model.MaxReading.Temperature)</span><br />
            Max (<span id="maxTempTime" class="plain">@String.Format("{0:F0}", (DateTime.Now - Model.MaxReading.Time.ToLocalTime()).TotalHours)</span> hrs ago)
        </div>
        <div class="col-xs-6 kpi">
            <span id="timeAbove" class="kpi">@Model.MinutesAboveFreezing min</span><br />
            Above Freezing
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 kpi">
            <span id="lastTemp" class="kpi">@String.Format("{0:F1}°F", Model.LastReading.Temperature)</span><br />
            <span class="plain">@String.Format("Latest ({0:F0} min ago)", (DateTime.Now - Model.LastReading.Time.ToLocalTime()).TotalMinutes)</span>
</div>
        <div class="col-xs-6 kpi">
            <span id="percentAbove" class="kpi">@String.Format("{0:P1}", Model.PortionOfTimeAboveFreezing)</span><br />
            Above Freezing
        </div>
    </div>
    @if (false)
    {
    <div class="row btn-group" data-toggle="buttons">
        <label class="btn btn-default">
            <input type="radio" name="options" id="option1" autocomplete="off">Day
        </label>
        <label class="btn btn-default active">
            <input type="radio" name="options" id="option2" autocomplete="off" checked>Week
        </label>
        <label class="btn btn-default">
            <input type="radio" name="options" id="option3" autocomplete="off">Month
        </label>
    </div>
    }

    <div class="row btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default" onmousedown="changePeriod(1)">Day</button>
        <button type="button" class="btn btn-default" onmousedown="changePeriod(7)">Week</button>
        <button type="button" class="btn btn-default" onmousedown="changePeriod(30)">Month</button>
    </div>
</div>

<script>
    function changePeriod(days) {
        console.log('Days: ' + days);
        $.getJSON('../dashboard?days='+ days, function (data) {
            console.log(data);
            $('#periodLength').text(data.DaysInPeriod);
            $('#maxTemp').text(data.MaxReading.Temperature);
            $('#lastTemp').text(data.LastReading.Temperature);
            $('#maxTempTime').text(new Date() - data.MaxReading.Time);
            $('#periodLength').text(data.DaysInPeriod);
        });
    }
</script>